{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="login-page">
            <form method="POST" action="" class="login-form">
                <h2>Update Account</h2>
                {{ form.hidden_tag() }}
                {% if form.email.errors %}
                    {{ form.email(class="form") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form") }}
                {% endif %}

                {% if form.business_name.errors %}
                    {{ form.business_name(class="form") }}
                    <div class="invalid-feedback">
                        {% for error in form.business_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.business_name(class="form") }}
                {% endif %}

                {% if form.address.errors %}
                    {{ form.address(class="form") }}
                    <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address(class="form") }}
                {% endif %}

                {% if form.state.errors %}
                    {{ form.state(class="form") }}
                    <div class="invalid-feedback">
                        {% for error in form.state.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.state(class="form") }}
                {% endif %}

                {% if form.post_code.errors %}
                    {{ form.post_code(class="form") }}
                    <div class="invalid-feedback">
                        {% for error in form.post_code.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.post_code(class="form") }}
                {% endif %}

                {% if form.country.errors %}
                    {{ form.country(class="form") }}
                    <div class="invalid-feedback">
                        {% for error in form.country.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.country(class="form") }}
                {% endif %}


              {{ form.submit(class="form-button") }}
              <p class="message">Already have an account? <a href="{{ url_for('auth_view.login') }}">Sign In</a></p>
            </form>
          </div>
        </div>
    </div>
{% endblock content %}