<!DOCTYPE html>
<html lang="en">
<head>

    {% if title %}
        <title>Insta-Sign - {{ title }}</title>
    {% else %}
        <title>Insta-Sign</title>
    {% endif %}
    <meta charset="UTF-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">#}
    <meta name="description" content="A simple sign in add on for Instagram.">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
</head>
<body>
    <header>
    </header>
    {% block content %}
    {% endblock %}

</body>
</html>